@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

body{
    font-family: 'Edu AU VIC WA NT Hand', cursive !important;
}

progress::-webkit-progress-bar {
  background: transparent;

}
progress::-webkit-progress-value {
  background: linear-gradient(to left, #96EF67, #245215);
  background-attachment: fixed;
}
progress::-moz-progress-bar {
  background: linear-gradient(to left, #3BA010, #68e12c,#286113 );
  background-attachment: fixed;
}